environments/bootstrap-backend/.terraform/
environments/bootstrap-backend/*.tfstate
environments/bootstrap-backend/*.tfstate.*
environments/bootstrap-backend/terraform.tfvars
environments/bootstrap-backend/terraform.tfstate.backup
environments/bootstrap-backend/.terraform.lock.hcl

environments/dev/.terraform/
environments/dev/*.tfstate
environments/dev/*.tfstate.*
environments/dev/terraform.tfvars
environments/dev/terraform.tfstate.backup
environments/dev/.terraform.lock.hcl**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate*
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate*
